
body {
    padding: 0;
    margin: 0;
    font-family: verdana, sans-serif;
    overflow-y: scroll;
}

.header {
  background-color: $header-color;
  color: $header-text-color;
  @include light-shadow(1, $header-shadow-darkness);
  
  a {
    color: inherit;
  }
  
  i {
    font-size: 1.3rem;
    vertical-align: middle;
    padding: 0 0.2em;
    + span {
      // Alt-text for text browsers
      display: none;
    }
  }
  
  > div {
    max-width: $default-width;
    min-height: $header-height;
    margin: 0 auto;
    padding: 0 $default-side-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  img {
    height: $header-height - 2*$header-padding;
  }
}

// Only appears on mobile
.menu-toggle {
  display: none;
}

.skeleton {
  width: 100%;
  max-width: $default-width;
  margin: 0.5rem auto;
  display: table;
}
.navigation {
  display: table-row;
  > h3 {
    border-bottom: 1px solid $border-col;
    vertical-align: bottom;
    display: table-cell;
    > a {
      text-decoration: none;
      color: $nav-item-text-col;
    }
  }
}
.title-block {
  display: table-cell;
  > h1 {
    margin: 0.6em 2*$default-side-padding;
  }
}
.sidebar {
  display: table-cell;
  border-right: 1px solid black;
  width: 15rem;
  max-width: 16rem;
  overflow-x: hidden;
  padding: $default-side-padding;
  box-sizing: border-box;
  vertical-align: top;
  &.nav {
    font-size: inherit;
    > a {
      display: block;
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;
      padding: 0.2rem $default-side-padding;
      margin: 0 (-$default-side-padding);
    }
  }
}
.content-wrapper {
  display: table-row;
}


// Navigation buttons
.nav {
  font-size: 0;
  list-style: none;
  
  > li {
    margin: $nav-spacing-vert 0;
    border-right: 1px solid $light-border-col;
    display: inline-block;
    &:last-child {
      border-right: none;
    }
  }
  a {
    text-transform: uppercase;
    font-size: 0.88rem;
    text-decoration: none;
    color: $nav-item-text-col;
    padding: $nav-spacing-vert $nav-spacing-horiz;
    outline: none;
    &:hover {
      background-color: $nav-item-hover-col;
    }
    &:active {
      background-color: $nav-item-active-col;
    }
    &.current {
      font-weight: bold;
      color: $nav-item-current-text-col;
    }
  }
  
  &.page-chooser {
    padding: 2*$nav-spacing-vert $default-side-padding;
    border-bottom: 1px solid $border-col;
  }
}

.content {
  padding: $default-side-padding;
}

@include mobile {
  .menu-toggle {
    display: block;
  }
  .sidebar {
    border-right: none;
  }
  .title-block > h1 {
    margin: 0.4em $default-side-padding;
  }
  body.menu-open {
    .title-block, .content {
      display: none;
    }
  }
  body:not(.menu-open) {
    .sidebar {
      display: none;
    }
  }
}

