
body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  
  font-family: verdana, sans-serif;
  background-color: $bgcol;
  color: $text-col;
}

.header {
  background-color: $header-color;
  color: $header-text-color;
  @include light-shadow(1, $header-shadow-darkness);
  
  a {
    color: inherit;
  }
  
  i {
    font-size: 1.3rem;
    vertical-align: middle;
    padding: 0 0.1em;
    + span {
      // Alt-text for text browsers
      display: none;
    }
  }
  
  > div {
    max-width: $default-width;
    min-height: $header-height;
    box-sizing: border-box;
    margin: 0 auto;
    padding: $header-padding $default-side-padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  img {
    height: $header-height - 2*$header-padding;
  }
}

// Only appears on mobile
.menu-toggle {
  display: none;
}

.skeleton {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: $default-width;
  margin: 0.5rem auto;
}
.navigation, .content-wrapper {
  display: table-row;
}
.navigation a {
  text-decoration: none;
  color: $nav-item-text-col;
}
.navigation {
  > .sidebar {
    border-bottom: 1px solid $border-col;
    vertical-align: bottom;
    display: table-cell;
    > h3 {
      margin: 0 0 0.5em;
    }
    &:empty {
      border-left: none;
    }
  }
}
.title-block {
  display: table-cell;
  border-bottom: 1px solid $border-col;
  padding: 0 $default-side-padding;
  > h3 {
    padding: 0.4em 0;
    margin: 0;
  }
  > h1 {
    font-size: 1.8rem;
    padding: 0.6em 0;
    margin: 0;
  }
  > h3 + h1 {
    padding-top: 0;
  }
}
.sidebar {
  display: table-cell;
  border-left: 1px solid $border-col;
  width: $sidebar-width;
  max-width: 1.05*$sidebar-width;
  overflow-x: hidden;
  padding: $default-side-padding;
  box-sizing: border-box;
  vertical-align: top;
  &.nav {
    font-size: inherit;
    > h4 {
      margin: 0.8em 0 0.5em 0;
    }
    > hr {
      border-color: $light-border-col;
    }
    > a {
      display: block;
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;
      padding: 0.2rem $default-side-padding;
      margin: 0 (-$default-side-padding);
      b {
        margin-right: 0.3em;
        color: $text-col;
      }
    }
  }
}
.content {
  display: table-cell;
  padding: $default-side-padding;
}



// Navigation buttons
.nav {
  font-size: 0;
  list-style: none;
  
  > li {
    margin: $nav-spacing-vert 0;
    border-right: 1px solid $light-border-col;
    display: inline-block;
    &:last-child {
      border-right: none;
    }
  }
  a {
    text-transform: uppercase;
    font-size: 0.88rem;
    text-decoration: none;
    color: $nav-item-text-col;
    padding: $nav-spacing-vert $nav-spacing-horiz;
    outline: none;
    &:hover {
      background-color: $nav-item-hover-col;
    }
    &:active {
      background-color: $nav-item-active-col;
    }
    &.current {
      font-weight: bold;
      color: $nav-item-current-text-col;
    }
  }
  
  &.page-chooser {
    padding: 2*$nav-spacing-vert 0;
    margin: 0 (-$default-side-padding);
  }
}

@include mobile {
  .menu-toggle {
    display: block;
  }
  .controls {
    display: none;
    width: 100%;
    text-align: right;
    padding: $header-padding 0;
  }
  
  .content {
    overflow-x: auto;
  }
  
  .sidebar {
    border-left: none;
    max-width: none;
    width: 100%;
  }
  .title-block > h1 {
    padding: 0.4em 0;
  }
  // If body doesn't have .with-sidebar, keep the main content visible when
  // the menu is open. Header controls are still made visible in this state.
  body.menu-open {
    &.with-sidebar {
      .title-block, .content {
        display: none;
      }
    }
    .controls {
      display: block;
    }
  }
  body:not(.menu-open), body:not(.with-sidebar) {
    .sidebar {
      display: none;
    }
  }
}

