div.linenums {
  counter-reset: linenums;
  border-collapse: collapse;
  font-size: inherit;
  display: table;
  empty-cells: show;
  
  > div {
    display: table-row;
    &:before {
      counter-increment: linenums;
      content: counter(linenums);
      display: table-cell;
      text-align: right;
      padding: 0 5px;
      border-right: 1px solid $light-border-col;
      color: $light-border-col;
      margin-right: 5px;
      background-color: $secondary-bgcol;
      display: table-cell;
    }
    > span:first-child {
      padding-left: 4px;
      display: inline-block;
    }
  }
}

pre.prettyprint {
  border: 1px solid $light-border-col;
  &.linenums {
    padding: 0 2px 0 0;
  }
}

pre.resizeable {
  resize: vertical;
}

