
$bgcol: white;
$secondary-bgcol: #eee;
$text-col: black;

$header-color: #292929;
$header-text-color: white;
$header-shadow-darkness: 0.4;

$border-col: black;
$light-border-col: lighten(black, 50%);

$nav-item-text-col: #009;
$nav-item-current-text-col: black;
$nav-item-hover-col: darken(white, 8%);
$nav-item-active-col: darken(white, 16%);

$fancy-link-color: $nav-item-text-col;
$visited-fancy-link-color: #03002c;

@function task-score-bg-col($type) {
  @return map-get((
    initial: #c8c8c8,
    full:    #6ff079,
    zero:    #f06f6f,
    partial: #f0f36a,
    busted:  #7e7e7e,
    pending: #9a9ef2,
      
    icpc-initial: #eaeaea,
    icpc-solved:  #84f38d,
    icpc-failed:  #f38484,
    icpc-first:   #16b923,
  ), $type);
}

$box-colors: (
  #8EF39A, #94B5EC, #FFD996, #FF9B96,
);
