table {
  border-collapse: collapse;
}

tr {
  border-style: solid;
  border-width: 1px 0;
  border-color: $border-col;
}

tbody > tr:nth-child(even) {
  background-color: $secondary-bgcol;
}

thead > tr {
  border-bottom: 2px solid $border-col;
}

td, th {
  border-style: solid;
  border-width: 0 1px;
  border-color: $border-col;
  padding: 0.06em 0.4em;
}

hr {
  border: none;
  border-top: 1px solid $border-col;
}

pre {
  font-family: monospace;
  font-size: 0.875rem;
  overflow-x: auto;
}
.io-example {
  border: 1px solid $border-col;
  background-color: $secondary-bgcol;
  padding: 0.5rem;
  @include light-shadow();
  border-radius: 3px;
  pre {
    white-space: pre-wrap;
    margin: 0.3rem 0 0.5rem;
  }
  h5 {
    user-select: none;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
}
code {
  font-family: monospace;
  font-size: 0.875rem;
}

.simple-form {
  display: table;
  max-width: 32rem;
  label {
    display: table-row;
  }
  span, input, select {
    display: table-cell;
  }
  span {
    width: 10rem;
    text-align: right;
    padding-right: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
  input, select {
    width: 100%;
  }
}

// Common table styles
.full-width {
  width: 100%;
}
.brief-col {
  min-width: 6em;
}
.details-col {
  width: 1em;
}
.details-link {
  font-size: 0;
  display: inline-block;
  &:before {
    font-size: 1.2rem;
    @include fontawesome();
    content: '\f101'; // "angle-double-right"
  }
}


input[type="submit"], button {
  background: $bgcol;
  color: $text-col;
  border: 1px solid $light-border-col;
  border-radius: 2px;
  padding: 0.2em 0.6em;
  font-family: inherit;
  
  cursor: pointer;
  // Needs hover styles
  // outline: 0;
  // &::-moz-focus-inner {
  //   border: 0;
  // }
  
  @include light-shadow();
  &:active {
    background: $secondary-bgcol;
    @include light-shadow-inset();
  }
}

