a {
  @if $override-anchor-cols {
    &:link { color: $anchor-link-col; }
    &:visited { color: $anchor-visited-col; }
    &:hover { color: $anchor-hover-col; }
    &:active { color: $anchor-active-col; }
  }
}

table {
  border-collapse: collapse;
}

tr {
  border-style: solid;
  border-width: 1px 0;
  border-color: $border-col;
}

tbody > tr:nth-child(even) {
  background-color: $secondary-bgcol;
}

thead {
  border-bottom: 2px solid $border-col;
}

td, th {
  border-style: solid;
  border-width: 0 1px;
  border-color: $border-col;
  padding: 0.06em 0.4em;
}

caption, .caption {
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0.8em 0 0.4em 0;
}

hr {
  border: none;
  border-top: 1px solid $border-col;
}

pre, samp {
  font-family: monospace;
  font-size: 0.875rem;
  overflow-x: auto;
}

code {
  font-family: monospace;
  font-size: 0.875rem;
}

.simple-form {
  max-width: $form-width;
  label {
    display: block;
  }
  > input, > select {
    display: block;
    width: 100%;
    margin: 0.3em 0 0.6em;
  }
  > input[type=submit], button {
    width: initial;
    margin: 0.6em 0 0.6em;
  }
}

// Common table styles
.brief-col {
  min-width: 6em;
}
.details-col {
  width: 1em;
}
.small-col {
  width: 0;
}
.details-link {
  font-size: 0;
  display: inline-block;
  &:before {
    font-size: 1.2rem;
    @include fontawesome();
    content: '\f101'; // "angle-double-right"
  }
}

.float {
  float: right;
  margin: 0.4rem 0.6rem;
}
@media screen and (max-width: 25rem) {
  .float {
    float: none;
    margin: 0.4rem auto;
  }
}

// Lightweight table, e.g. a summary
.summary-table {
  td, th {
    border-style: none;
  }
  tr {
    border-top: none;
    border-bottom-color: $light-border-col;
    background-color: initial;
  }
}
// Mixin class, mainly for .summary-table
.left-align {
  text-align: left;
  th {
    text-align: left;
  }
}

.narrow {
  width: 100%;
  max-width: $narrow-content-width;
}
.wide {
  width: 100%;
  max-width: $default-content-width;
}
.full-width {
  width: 100%;
}

.closeable {
  &.closed {
    > tbody, > thead, > tfoot, > div {
      display: none;
    } 
    > .close-trigger:after {
      content: '\f0d7'; // "caret-down"
    }
  }
}
.close-trigger {
  cursor: pointer;
  &:after {
    @include fontawesome();
    content: '\f0d8'; // "caret-up"
    margin-left: 0.4em;
    color: $mid-border-col;
  }
}

// Pagination selector
.pager {
  text-align: center;
  margin: 0.6em;
  a {
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    outline: none;
    padding: 0 0.2rem;
    color: $light-border-col;
    &[href] {
      color: $nav-item-text-col;
      &:hover {
        background-color: $nav-item-hover-col;
      }
      &:active {
        background-color: $nav-item-active-col;
      }
    }
    &.current {
      font-weight: bold;
      color: $nav-item-current-text-col;
    }
  }
  .prev, .next {
    font-size: 0;
    padding: 0.2rem 0.6rem;
    margin: 0 0.6rem;
    border-radius: 0.2rem;
    &[href] {
      color: $text-col;
    }
    &:before {
      font-size: 1.4rem;
      @include fontawesome();
    }
  }
  .prev:before { content: '\f104'; } // "angle-left"
  .next:before { content: '\f105'; } // "angle-right"
}

input[type="submit"], button {
  background: $bgcol;
  color: $text-col;
  border: 1px solid $light-border-col;
  border-radius: 2px;
  padding: 0.2em 0.6em;
  font-family: inherit;
  
  cursor: pointer;
  // Needs hover styles
  // outline: 0;
  // &::-moz-focus-inner {
  //   border: 0;
  // }
  
  @include light-shadow();
  &:active {
    background: $secondary-bgcol;
    @include light-shadow-inset();
  }
}

