// Task lists
.task-list {
  $item-line-height: 1.6;
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: $default-content-width;
  border-top: 1px solid $border-col;
  
  > li {
    display: flex;
    line-height: $item-line-height;
    border-bottom: 1px solid $border-col;
    overflow: hidden;
    &:hover {
      background-color: $nav-item-hover-col;
    }
    &:before {
      display: inline-block;
      width: 2.8rem;
      text-align: center;
      @include fontawesome();
    }
  }
  &.headless > li:hover {
    background-color: initial;
  }
  &.contest > li.task:before {
    display: none;
  }
  > .text:before { content: "\f129"; } // "info"
  > .link:before { content: "\f0c1"; } // "link"
  > .task:before { content: "\f15c"; } // "file-alt"
  a, div {
    flex-grow: 1;
  }
  b {
    display: inline-block;
    width: 2.8rem;
    text-align: center;
  }
  $icon-size: 0.8;
  $details-size: 0.8;
  .task-score {
    float: right;
    clear: right;
    text-align: center;
    width: 5rem;
    margin-left: .4rem;
    &.icon {
      font-size: $icon-size * 1em;
      line-height: 1/$icon-size * $item-line-height;
    }
  }
  $headless-item-height: (1+$details-size)*$item-line-height;
  &.headless .task-score {
    line-height: $headless-item-height;
    &.icon {
      line-height: 1/$icon-size*$headless-item-height;
    }
  }
  .details {
    font-size: $details-size * 1em;
    > span, > a {
      display: inline-block;
      min-width: 5em;
    }
  }
}
.sidebar > a > .task-score {
  float: right;
  flex-shrink: 0;
  font-size: 0.75rem;
  width: 2.5em;
  text-align: center;
  font-weight: normal;
  color: $text-col;
  border: 1px solid opacify(black, 0.5);
}

.task-score {
  background-color: task-score-bg-col(initial);
  &.full { background-color: task-score-bg-col(full); }
  &.zero { background-color: task-score-bg-col(zero); }
  &.partial { background-color: task-score-bg-col(partial); }
  &.icon {
    &:before {
      @include fontawesome();
      content: '\f068'; // "minus"
    }
    &.full:before { content: '\f00c'; } // "check"
    &.zero:before { content: '\f00d'; } // "times"
  }
}

.task-limits {
  float: right;
  margin: 0.6rem 0.4rem;
}
.task-limits th {
  text-align: left;
}

.scoreboard-wrapper {
  width: 100%;
  padding: $default-side-padding;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  overflow-x: auto;
}
.scoreboard {
  margin: 0 auto;
  a {
    color: $text-col;
  }
  > tbody > tr {
    background-color: initial;
  }
  td:nth-child(2) {
    // .scoreboard.ioi td is more specific but rather not start a new block there
    text-align: left !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 14em;
  }
}
.scoreboard.ioi {
  col.name {
    width: 10em;
  }
  col.score {
    width: 4em;
    border-right: 2px solid $border-col;
  }
  col.task {
    width: 3.5em;
  }
  td {
    text-align: center;
  }
  tr {
    height: 2em;
  }
}

.scoreboard.icpc {
  col.name {
    width: 10em;
  }
  col.time {
    border-right: 2px solid $border-col;
  }
  col.task {
    width: 3.5em;
    background-color: task-score-bg-col(icpc-initial);
  }
  img {
    width: 2.5em;
    max-height: 2.5em;
  }
  td {
    &:nth-child(1), &:nth-child(4), &:nth-child(5) {
      text-align: center;
    }
    &:nth-child(2) {
      border-right: none;
    }
    &:nth-child(3) {
      border-left: none;
      padding-right: 0.5em;
    }
  }
  th {
    background-color: $bgcol;
  }
  tr {
    height: 3.5em;
  }
  thead tr {
    height: 2em;
  }
  .solved {
    background-color: task-score-bg-col(icpc-solved);
  }
  .failed {
    background-color: task-score-bg-col(icpc-failed);
  }
  .solved-first {
    background-color: task-score-bg-col(icpc-first);
  }
}

