// Task lists
.task-list {
  $item-line-height: 1.6;
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  @extend .wide;
  border-top: 1px solid $light-border-col;
  
  > li {
    display: flex;
    line-height: $item-line-height;
    border-bottom: 1px solid $light-border-col;
    overflow: hidden;
    &:hover {
      background-color: $nav-item-hover-col;
    }
    &:before {
      display: inline-block;
      width: 2.8rem;
      text-align: center;
      @include fontawesome();
    }
  }
  &.headless > li:hover {
    background-color: initial;
  }
  &.contest > li.task:before {
    display: none;
  }
  > .text:before { content: "\f129"; } // "info"
  > .link:before { content: "\f0c1"; } // "link"
  > .task:before { content: "\f15c"; } // "file-alt"
  a, div {
    flex-grow: 1;
  }
  b {
    display: inline-block;
    width: 2.8rem;
    text-align: center;
  }
  $icon-size: 0.8;
  $details-size: 0.8;
  .task-score {
    // for compatability
    float: right;
    clear: right;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 5rem;
    margin-left: .4rem;
    &.icon {
      font-size: $icon-size * 1em;
      line-height: 1/$icon-size * $item-line-height;
    }
  }
  .details {
    font-size: $details-size * 1em;
    > span, > a {
      display: inline-block;
      min-width: 5em;
    }
  }
}

.task-score, .contest-score {
  color: $task-score-text-col;
}
.task-score {
  text-align: center;
  @each $type, $col in $task-score-bg-cols {
    @if $type == 'initial' {
      background-color: $col;
    } @else {
      &.#{$type} {
        background-color: $col;
      }
    }
  }
  &.icon {
    &:before {
      @include fontawesome();
      content: '\f068'; // "minus"
    }
    &.full:before { content: '\f00c'; } // "check"
    &.zero:before { content: '\f00d'; } // "times"
    &.busted:before { content: '\f714'; } // "skull-crossbones"
    &.pending:before { content: '\f059'; font-weight: 400; } // "question-circle"
  }
}

.sidebar > a > .task-score {
  float: right;
  flex-shrink: 0;
  font-size: 0.75rem;
  width: 2.5em;
  margin-left: 0.2em;
  font-weight: normal;
  color: $task-score-text-col;
  border: 1px solid $light-border-col;
}

.inline-score {
  display: inline-block;
  min-width: 5em;
  padding: 0 0.3em;
  border-radius: 3px;
}

.verdict {
  color: $task-score-text-col;
  @each $type, $col in $verdict-bg-cols {
    &.#{$type} {
      background-color: $col;
    }
  }
}

.samp-actions {
  float: right;
  > a {
    display: inline-block;
    font-size: 0;
    text-decoration: none;
    padding: 0.3rem 0.1rem 0.2rem 0.1rem;
    color: $mid-border-col;
    &:before {
      @include fontawesome();
      font-size: 1.1rem;
    }
    &:hover {
      color: $border-col;
    }
  }
  > .view:before { content: '\f06e'; } // "eye"
  > .save:before { content: '\f56d'; } // "file-download"
  > .copy:before { content: '\f0c5'; } // "copy"
}

.contest-time {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  display: table;
  font-weight: normal;
  > li {
    display: table-row;
  }
  b {
    display: table-cell;
    padding-right: 0.5em;
  }
  span {
    display: table-cell;
    text-align: right;
  }
}

.scoreboard-wrapper {
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  text-align: center;
}
.scoreboard {
  display: inline-block;
  margin: $default-side-padding;
  a {
    color: inherit;
  }
  > tbody > tr {
    background-color: initial;
  }
  td:nth-child(2) {
    // .scoreboard.ioi td is more specific but rather not start a new block there
    text-align: left !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 14em;
  }
}
.unofficial-contestant {
  opacity: 0.6;
}
.scoreboard.ioi {
  col.name {
    width: 10em;
  }
  col.score {
    width: 4em;
    border-right: 2px solid $border-col;
  }
  col.task {
    width: 3.5em;
    min-width: 3em;
  }
  td {
    text-align: center;
  }
  tr {
    height: 2em;
  }
}

.scoreboard.icpc {
  col.name {
    width: 10em;
    min-width: 8em;
  }
  col.time {
    border-right: 2px solid $border-col;
  }
  col.task {
    width: 3.5em;
    min-width: 3em;
    background-color: icpc-task-bg-col(initial);
  }
  img {
    width: 2.5em;
    max-height: 2.5em;
    @if $bgcol != white {
      background-color: white;
      border-radius: 0.3em;
    }
    padding: 0.3em;
  }
  td {
    &:nth-child(1), &:nth-child(4), &:nth-child(5) {
      text-align: center;
    }
    &:nth-child(2) {
      border-right: none;
    }
    &:nth-child(3) {
      border-left: none;
      padding: 0 0.5em;
    }
  }
  th {
    background-color: $bgcol;
  }
  tr {
    height: 3.5em;
  }
  thead tr {
    height: 2em;
  }
  
  @each $type, $col in $icpc-task-bg-cols {
    @if $type != 'initial' {
      .#{$type} {
        background-color: $col;
      }
    }
  }
}

