// Task lists
.task-list {
  $item-line-height: 1.6;
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: $default-content-width;
  border-top: 1px solid $border-col;
  
  > li {
    display: flex;
    line-height: $item-line-height;
    border-bottom: 1px solid $border-col;
    overflow: hidden;
    &:hover {
      background-color: $nav-item-hover-col;
    }
    &:before {
      display: inline-block;
      width: 2.8rem;
      text-align: center;
      @include fontawesome();
    }
  }
  > .text:before { content: "\f129"; } // "info"
  > .link:before { content: "\f0c1"; } // "link"
  > .task:before { content: "\f15c"; } // "file-alt"
  a {
    flex-grow: 1;
  }
  b {
    display: inline-block;
    width: 2.8rem;
    text-align: center;
  }
  span {
    // float in case flex isn't supported
    float: right;
    width: 5rem;
    &.icon {
      line-height: 1/0.8*$item_line_height;
      font-size: 0.8em;
    }
  }
  .task-score {
    text-align: center;
    clear: right;
  }
}

.task-score {
  background-color: task-score-bg-col(initial);
  &.full { background-color: task-score-bg-col(full); }
  &.zero { background-color: task-score-bg-col(zero); }
  &.partial { background-color: task-score-bg-col(partial); }
  &.icon {
    &:before {
      @include fontawesome();
      content: '\f068'; // "minus"
    }
    &.full:before { content: '\f00c'; } // "check"
    &.zero:before { content: '\f00d'; } // "times"
  }
}


