
$default-width: 60rem;
$default-side-padding: 0.6rem;

$header-height: 2.6rem;
$header-padding: 0.3rem;
$header-shadow: 0.05rem;

$sidebar-width: 18rem;

// For content elements
$default-content-width: $default-width - 2*$default-side-padding - $sidebar-width;
$narrow-content-width: 30rem;
$form-width: 20rem;

$border-width: 1px;
$thick-border-width: 2px;
$light-shadow-size-base: 0.05rem;

$nav-spacing-vert:  0.19rem;
$nav-spacing-horiz: $default-side-padding;

$box-title-spacing: $default-side-padding/2;

$responsive-mobile-breakoff: 50em;

// Compensate larger borders to avoid changing total size, used in forms
@function border-comp($val) {
  @return calc($val - #{$thick-border-width - $border-width});
}
