
$default-width: 60rem;
$default-side-padding: 0.6rem;

// For content elements
$default-content-width: 40rem;
$narrow-content-width: 30rem;
$form-width: 20rem;

$header-height: 2.6rem;
$header-padding: 0.3rem;
$header-shadow: 0.05rem;

$sidebar-width: 15rem;

$light-shadow-size-base: 0.05rem;

$nav-spacing-vert:  0.19rem;
$nav-spacing-horiz: $default-side-padding;

$box-title-spacing: $default-side-padding/2;

$responsive-mobile-breakoff: 45em;
