
.boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  > div {
    width: calc(50% - 20px);
    min-height: 300px;
    padding: 8px;
    margin: 4px 0;
    background-color: #8EF39A;
    display: inline-block;
    @include light-shadow();
    &:nth-child(4n+2) { background-color: #94B5EC; }
    &:nth-child(4n+3) { background-color: #FFD996; }
    &:nth-child(4n+4) { background-color: #FF9B96; }
    @media screen and (max-width: 700px) {
      width: 100%;
      min-height: 220px;
    }
  }
  h4 {
    margin: 0;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid black;
  }
}
