
.boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 (-$default-side-padding);
  > div {
    width: calc(50% - #{$default-side-padding/2});
    box-sizing: border-box;
    min-height: 18.8rem;
    padding: $default-side-padding;
    margin: $default-side-padding/2 0;
    display: inline-block;
    @include light-shadow();
    @for $i from 1 through length($box-colors) {
      &:nth-child(#{length($box-colors)}n+#{$i}) {
        background-color: nth($box-colors, $i);
      }
    }
    @include mobile {
      width: 100%;
      min-height: 13.6rem;
    }
  }
  h4 {
    margin: 0;
    padding-bottom: $box-title-spacing;
    margin-bottom: $box-title-spacing;
    border-bottom: 1px solid $border-col;
  }
}
