
$bgcol: #181818;
$secondary-bgcol: #303030;
$text-col: white;

$override-anchor-cols: true;
$anchor-link-col: #5cafff;
$anchor-visited-col: #93c3f2;
$anchor-hover-col: white;
$anchor-active-col: darken(white, 20%);

$header-color: #292929;
$header-text-color: white;
$header-shadow-darkness: 0.4;

$border-col: lighten(black, 60%);
$mid-border-col: lighten(black, 50%);
$light-border-col: lighten(black, 30%);
$colored-bg-border-col: scale-color(white, $alpha: -40%);
$accent-border-col: #cc9151;

$nav-item-text-col: #5cafff;
$nav-item-current-text-col: $text-col;
$nav-item-hover-col: lighten($bgcol, 15%);
$nav-item-active-col: lighten($bgcol, 30%);

$task-score-text-col: $text-col;
$score-colors-as-fg: true;
$score-default-bg: scale-color(white, $alpha: -93%);
$task-score-bg-cols: (
  initial: #888,
  full:    #7cf07c,
  zero:    #f07c7c,
  partial: #f0f07c,
  busted:  #bbb,
  pending: #9a9ef2,
);
$icpc-task-bg-cols: (
  initial:      #3b3b3b,
  solved:       #28a233,
  failed:       #a13535,
  solved-first: #007d0a,
);
$verdict-bg-cols: (
  unknown: map-get($task-score-bg-cols, initial),
  ac: #6ff079,
  wa: #f06f6f,
  // other error colors might not be used (too colorful?)
  tle: #ec6ff0,
  rte: #f0b86f,
  mle: #f0e86f,
);
@function task-score-bg-col($type) {
  @return map-get($task-score-bg-cols, $type);
}
@function icpc-task-bg-col($type) {
  @return map-get($icpc-task-bg-cols, $type);
}


$box-colors: (
  #417748, #416c77, #767741, #77414f,
);
